body {
    margin: 0px;
    padding: 0px;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a6a6a6), to(#2e2e2e));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #a6a6a6, #2e2e2e);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #a6a6a6, #2e2e2e);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #a6a6a6, #2e2e2e);

    /* Opera cannot do radial gradients yet */
}
#wrap{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */

}
.center {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    text-align: center;

}
.login{
    width: 450px;
    height: 200px;
    margin: 10px auto;
    padding-top: 20px;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a6a6a6), to(#3d3d3d));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #a6a6a6, #3d3d3d);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #a6a6a6, #3d3d3d);

    /* IE 10 */
    background: -ms-linear-gradient(top, #a6a6a6, #3d3d3d);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #707070, #3d3d3d);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width:5px;
    border-style:outset;
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
span.title{
    font-family: cursive;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin: 0px 10px;
}
input.txt{
    width: 200px;
    height: 25px;
    margin: 5px;
    background-color: #1a1a1a;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-family: cursive;
    font-size: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
input.txtUser{
     background-image: url("../images/bg_txtuser.png");
     background-repeat: no-repeat;
     background-position: left 50% ;
 }
input.txtPass{
    background-image: url("../images/bg_txtPass.png");
    background-repeat: no-repeat;
    background-position: left 50% ;
}
input.txtConfirm{
    width: 100px;
    float: left;
    background-image: url("../images/confirmation.png");
    background-repeat: no-repeat;
    background-position: left 50% ;
}
.clear{
    clear: both;
}
.confirm{
    padding-left: 50px;
}
span.img_confirm{
    float: left;
    padding: 0 0px 0 0;
}
input.btn{
    height: 30px;
    margin: 5px;
    background:#1a1a1a ;
    border-width:2px;
    border-style:outset;
    font-family: cursive;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.btnLogin{
    font-size: 13px;
    padding-left: 160px;
    text-align: left;
}
.btnLogin a{
    color: #000;
}
.error{
    color: red;
}
